<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
        <carriers>
            <gridmethod>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
				<model>Excellence\GridRate\Model\Carrier\GridMethod</model>
                <name>Excellence GridRate Shipping</name>
                <price>0.00</price>
                <title>Excellence GridRate Shipping</title>
               <specificerrmsg>Excellence GridRate Shipping is not available for your area. Please contact us.</specificerrmsg>
            </gridmethod>
            <!-- carrier-config -->
        </carriers>
    </default>
</config>
